* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin: 10px;
}
.container {
  background-image: url("../../../../images/notebook.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 364px;
}
.form {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  min-height: 320px;
  margin: 20px;
  padding: 15px;
  display: block;
}
.form h2 {
  font-size: 30px;
}
.form label {
  font-weight: bold;
}
.form input[type="email"] {
  border: none;
  width: 100%;
  background-color: #eee;
  padding: 12px;
  margin: 5px 0 22px 0;
}
.form input[type="email"]:focus {
  background-color: #ccc;
}
.form input[type="password"] {
  border: none;
  background-color: #eee;
  padding: 12px;
  margin: 5px 0 22px 0;
}
.form input[type="password"]:focus {
  background-color: #ccc;
}
.btn {
  border: none;
  color: white;
  background-color: mediumseagreen;
  padding: 12px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  opacity: 0.9;
}
.btn:hover {
  opacity: 1;
}
/* Hero image style */
.container2 {
  min-height: 364px;
  background-image: url(../../../../images/img_5terre_wide.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  background-color: transparent;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-text h2 {
  font-size: 50px;
  margin: 33px 0;
}
.hero-text p {
  font-size: 25px;
}
.btn2 {
  border: none;
  background-color: #eee;
  padding: 12px 20px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border-radius: 3px;
}
.btn2:hover {
  color: white;
  background-color: #555;
}
