* {
  box-sizing: border-box;
}
body {
  padding: 20px;
  background-color: #f1f1f1;
  font-family: Arial;
}
.main {
  max-width: 1000px;
  margin: auto;
}
.nice {
  font-size: 50px;
}
.nice-small {
  font-size: 25px;
}
.row {
  margin: 8px -16px;
  padding: 8px;
}
.row > .column {
  padding: 8px;
}
.column {
  float: left;
  width: 25%;
}
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.row:after {
  content: "";
  clear: both;
  display: table;
}
.content {
  background-color: white;
  padding: 10px;
}
.img {
  width: 100%;
}
