body {
	margin: 0;
}
.parallax {
	background-image: url("../../../../images/img_parallax.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.nice {
	height: 1000px;
	background-color: lightblue;
	font-size: 36px;
}